@import url('https://fonts.googleapis.com/css?family=Cinzel:900|Slabo+27px');

.trans{
    background-color: rgba(1,1,1,0.6);
}

body{
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	font-family: 'Slabo 27px', serif;
	color: #ffffff;
	background-image: url(../images/strongjugglers.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.persistent {
	position: fixed;
	left: 0;
	width: 100%;
}
header.persistent { top: 0; }
footer.persistent { bottom: 0; }

.primary, .strong, .weak, .terminal {
	margin: 30px; /* ...style to taste */
}
.primary, .weak { margin-left: 0; }
.strong, .terminal { margin-right: 0; }

/*	*******************************************
	Flex positioning of the four quadrants
	******************************************* */
header .container, footer .container { 
	display: flex;
	justify-content: space-between;
}

.primary, .strong, .weak, .terminal { 
	align-self: center;
}
.strong, .terminal { text-align: right; }
.terminal { font-size: xx-large; }

/*	*******************************************
	Positioning of the centered message
	******************************************* */
.z-pattern main { 
	display: flex; 
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 95%;
	max-width: 1180px;
}


h1 {
	font-family: 'Cinzel', serif;
	font-size: 315%;
}

h2 { 
	font-style : italic;
	font-weight : normal;
	margin-bottom : 0px;
	font-size: 300%;
	margin-left: 10px;
}

h3{ 
	font-size: 150%;
	margin-left: 10px;
}
figure{
	float: right;
	clear: right;
}

p { 
	line-height: 1.2em; 
	font-size: 125%;
	margin-left: 10px;
}

a{
	color: white;
	text-decoration: none;
}

a:hover {
	color: #B18FCF;
}

form {
	margin-left: 10px;
	margin-bottom: 10px;
}

.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #ddb831;
    margin-left: 10px;
}

.button a{
	color: black;
}

.button button:hover {
	color: #ddb831;
}
